@{
Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<!-- Content wrapper -->
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Add & Edit Form </h5>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="@ViewBag.action">
                        <div class=" mb-3">
                            <label for="defaultFormControlInput" class="form-label">Name</label>
                            <input type="text" class="form-control" id="defaultFormControlInput" 
                                aria-describedby="defaultFormControlHelp" name="Name" required  value="@if (Model != null) {
                        <text>@Model.Name</text>
                        }"/>
                        </div>
                         <div class=" mb-3">
                            <label for="linkAdv" class="form-label">link Adv</label>
                            <input type="text" class="form-control" id="linkAdv"
                                aria-describedby="defaultFormControlHelp" name="linkAdv" required  value="@if (Model != null) {
                        <text>@Model.Link</text>
                        }"/>
                        </div>
                         <div class="  mb-3">
                                <label for="exampleFormControlSelect1" class="form-label">Position select</label>
                                <select class="form-select" id="exampleFormControlSelect1"
                                    aria-label="Default select example" name="Position">
                                    <option @if (Model !=null && Model.Position==1) { <text> selected</text>
                                        } value="1">Banner dưới Service Section Home Page</option>
                                    <option @if (Model !=null && Model.Position==2) { <text> selected</text>
                                        } value="2">Banner dưới Product Section Home Page</option>
                                    <option @if (Model !=null && Model.Position==3) { <text> selected</text>
                                        } value="3">Banner dưới News Section Home Page</option>
                                    <option @if (Model !=null && Model.Position==4) { <text> selected</text>
                                        } value="4">Banner dưới Siderbar Page</option>
                                    
                                </select>
                            </div>
                        <div class=" mb-3">
                            <label for="formFileMultiple" class="form-label">Images files</label>
                            <input class="form-control" type="file" id="formFileMultiple" name="Photo" multiple />
                        </div>
                        <div class=" justify-content-end">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>