@{
Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Responsive Table -->
        <div class="card">
            <h5 class="card-header ">Users Table</h5>
            <div class="table-responsive text-nowrap p-3">
              <a href="/Admin/Users/Create" class="btn btn-primary mb-3">
                              <span class="tf-icons bx  bx-list-plus"></span>&nbsp; Create
                            </a>
                <table id="UsersTable"  class="table table-striped" style="width:100%">
                    <thead>
                        <tr class="text-nowrap">
                        
                              <th>Fullname</th>
                               <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tb-body" class="table-border-bottom-0">

                     

                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Responsive Table -->
    </div>
</div>
<script src="~/admin/js/useradmin.js"></script>       